@model Hackathon.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="py-4">
    <nav class="navbar navbar-expand-lg navbar-light w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-light"></span>
        </button>
       @{ 
           var from = @Model.FilterViewModel.From == DateTime.MinValue ? "" : @Model.FilterViewModel.From.ToString("yyyy-MM-dd");
           var to = @Model.FilterViewModel.To == DateTime.MinValue ? "" : @Model.FilterViewModel.To.ToString("yyyy-MM-dd");
       }

        <div class="collapse navbar-collapse  w-80 " id="navbarTogglerDemo03">
            <form method="get" class="navbar-nav mr-auto mt-2 mt-lg-0 d-flex w-100  justify-content-around">
                <div class="input-field" style="background:#4200be">
                    <a asp-controller="Ad" asp-action="Create" class="btn btn-add">Добавить</a>
                </div>
                <div class="input-field d-flex">
                    <span class="btn text-light">Пользователь</span>
                    <select name="user" asp-items="@Model.FilterViewModel.Users as SelectList" class="form-control"></select>
                </div>
                <div class="input-field d-flex">
                    <div class="d-flex mx-2">
                        <span class="btn text-light">от</span>
                        <input name="from" value="@from" class="form-control" type="date" />
                    </div>
                    <div class="d-flex">
                        <span class="btn text-light">до</span>
                        <input name="to" value="@to" class="form-control" type="date" />
                    </div>
                </div>
                <div class="input-field">
                    <input name="searchStr" value="@Model.FilterViewModel.SearchString" class="form-control mr-sm-2 search-btn" type="search" placeholder="Общий поиск" aria-label="Search">
                </div>
                <div class="input-field">
                    <button type="submit" class="form-control"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </nav>
</header>
<table id="mainTable"class="table table-hover w-100">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" 
                   asp-route-sortStr="@ViewBag.Num"
                   asp-route-user="@Model.FilterViewModel.SelectedUser"
                   asp-route-searchStr="@Model.FilterViewModel.SearchString"
                   asp-route-from="@Model.FilterViewModel.From"
                   asp-route-to="@Model.FilterViewModel.To"
                   >Номер</a>
            </th>
            <th>
                <a asp-action="Index" 
                   asp-route-sortStr="@ViewBag.Date"
                   asp-route-user="@Model.FilterViewModel.SelectedUser"
                   asp-route-searchStr="@Model.FilterViewModel.SearchString"
                   asp-route-from="@Model.FilterViewModel.From"
                   asp-route-to="@Model.FilterViewModel.To">Создано</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortStr="@ViewBag.Cont"
                   asp-route-user="@Model.FilterViewModel.SelectedUser"
                   asp-route-searchStr="@Model.FilterViewModel.SearchString"
                   asp-route-from="@Model.FilterViewModel.From"
                   asp-route-to="@Model.FilterViewModel.To">Объявление</a>
            </th>
            <th>
                <a asp-action="Index" 
                   asp-route-sortStr="@ViewBag.Rate"
                   asp-route-user="@Model.FilterViewModel.SelectedUser"
                   asp-route-searchStr="@Model.FilterViewModel.SearchString"
                   asp-route-from="@Model.FilterViewModel.From"
                   asp-route-to="@Model.FilterViewModel.To">Рейтинг</a>
            </th>
            <th>
                <a asp-action="Index" 
                   asp-route-sortStr="@ViewBag.Usr"
                   asp-route-user="@Model.FilterViewModel.SelectedUser"
                   asp-route-searchStr="@Model.FilterViewModel.SearchString"
                   asp-route-from="@Model.FilterViewModel.From"
                   asp-route-to="@Model.FilterViewModel.To">Пользователь</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ad in Model.Ads)
        {
        <tr>
            <td>
                @ad.Number
            </td>
            <td>
                @ad.CreationDate
            </td>
            <td>
                @ad.Content
            </td>
            <td>
                @ad.Rating
            </td>
            <td>
                @ad.User.Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-Id="@ad.Id"><i class="fa fa-edit"></i></a>
                <a asp-action="Delete" asp-route-Id="@ad.Id"><i class="fa fa-remove"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="w-100 row paging mx-2 mt-5">
    <div class="col d-flex">
        <span  class="btn">Количество строк на странице:</span>
        <div class="pages pagination">
            <a asp-action="Index"
                    asp-route-sortStr="@ViewBag.OrderBy"
                    asp-route-user="@Model.FilterViewModel.SelectedUser"
                    asp-route-searchStr="@Model.FilterViewModel.SearchString"
                    asp-route-from="@Model.FilterViewModel.From"
                    asp-route-to="@Model.FilterViewModel.To"
                    asp-route-page="1"
                    asp-route-pageSize="3">3</a>
            <a asp-action="Index" asp-route-sortStr="@ViewBag.OrderBy"
                    asp-route-user="@Model.FilterViewModel.SelectedUser"
                    asp-route-searchStr="@Model.FilterViewModel.SearchString"
                    asp-route-from="@Model.FilterViewModel.From"
                    asp-route-to="@Model.FilterViewModel.To"
                    asp-route-page="1"
                    asp-route-pageSize="5">5</a>
            <a asp-action="Index" asp-route-sortStr="@ViewBag.OrderBy"
                    asp-route-user="@Model.FilterViewModel.SelectedUser"
                    asp-route-searchStr="@Model.FilterViewModel.SearchString"
                    asp-route-from="@Model.FilterViewModel.From"
                    asp-route-to="@Model.FilterViewModel.To"
                    asp-route-pageSize="10"
                    asp-route-page="1">10</a>
        </div>
    </div>
    <div class="col pagination">
        <div class="pages float-right">
            <a href="">&laquo;</a>
            @for (int i = 1; i < Model.Ads.TotalPages + 1; i++)
            {
                var active = string.Empty;
                if (Model.Ads.PageIndex == i)
                {
                    active = "active";
                }
                
                <a asp-action="Index"
                    asp-route-sortStr="@ViewBag.OrderBy"
                    asp-route-user="@Model.FilterViewModel.SelectedUser"
                    asp-route-searchStr="@Model.FilterViewModel.SearchString"
                    asp-route-from="@Model.FilterViewModel.From"
                    asp-route-to="@Model.FilterViewModel.To"
                    asp-route-page="@i"
                   class="@active">@i</a>
            }
            <a href="">&raquo;</a>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap-4.3.1-dist/Datetimepicker/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="~/lib/bootstrap-4.3.1-dist/Datetimepicker/locales/bootstrap-datetimepicker.ru.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language: 'ru',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language: 'ru',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language: 'ru',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>
<script>
    
</script>